body {
    font-family: 'Roboto', sans-serif;
    background-color: #efd6ac;
}

.sidebar-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.sidebar-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.sidebar-heading a:hover {
    border-bottom: dotted 1px #C44900;
    color: #000;
    text-decoration: none;
  }

.sidebar-p {
    color:  #04151F;
}

.sidebar-menu li a {
    color: #04151F;
}

.sidebar-menu li:before {
    color: #04151F;
}

.sidebar-menu li.active a {
    color: #C44900;
    font-weight: bold;
}

.sidebar-menu li.active:before {
    color: #C44900;
}

.sidebar-menu li:hover a {
    text-decoration: none;
    color: #C44900;
  }
  .sidebar-menu li:hover:before {
    color: #C44900;
  }

p.social a {
    color: #04151F;
    border: solid 1px #04151F;
}

p.social a:hover {
    color: #C44900;
    border-color: #C44900;
}

.copyright {
    color: #04151F;
}

.copyright p.credit a {
    color: #04151F;
}

h4.thumbnailTitle a {
    font-family: 'Merriweather', serif;
}

h1.articleTitle {
    font-family: 'Lato', sans-serif;
    font-size: 2.8rem;
}

div.content-column-content {
    font-size: 1.8rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

div.content-column-content p {
    color: black;
    text-align: justify;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

p.references a {
    color: #C44900;
}

p.rating {
    margin-bottom: 5px;
}

div.col-center {
    margin: 0 auto;
    float: none;
}

.white-background {
    background-color: #fff;
    opacity: .9;
}

div.banner {
    background-color: #efd6ac;
    text-align: center;
}

div.banner h1 {
    line-height: 4rem;
    margin: 0 auto;
    float: none;
}

div.banner p {
    line-height: 2rem;
}

div.banner-content {
    padding-top: 10px;
}

.btn-ghost {
    border-color: #C44900;
    color: #C44900;
}

.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active, .open .dropdown-toggle.btn-ghost {
    background-color: #C44900;
    border-color: #C44900;
}